
* {
	/*
	 * Making all elements unselectable stops annoying blue boxes
	 * when dragging with the mouse.
	 */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/* Position the content and sticky footer */
body {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1em;
}




#stop {
	/*
	 * I wonder which button this could be referring to
	 */
	font-size: 3.5em;
	width: 100%;
}





#throttle {
	/* Moves the throttle slider and all associated elements */
	margin-top: 25px;
}

#throttle .label {
	/* Inline-block allows us to place elements from left-to-right, while
	 * using margins to control the layout */
	display: inline-block;
	position: relative;
	top: 2px;
	
	/* Fixed width keeps the sliders aligned, despite different label text */
	width: 100px;
}

#throttle .value {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 2px;
	
	/* A fixed width stops the whole layout changing as the value changes
	 * to 1, 2 or 3 digits. */
	width: 13px;
}

#throttle .buttonset {
	display: inline-block;
	margin-left: 30px;
}

#throttle .slider {
	display: inline-block;
	margin-left: 20px;
	top: 2px;
	/* Width is calculated in JavaScript */
}

#throttle .increase {
	display: inline-block;
	margin-left: 20px;
}




#fl-angle {
	margin-top: 25px;
}

#fl-angle .label {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 100px;
}

#fl-angle .value {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 2px;
	width: 13px;
}

#fl-angle .buttonset {
	display: inline-block;
	margin-left: 30px;
}

#fl-angle .slider {
	display: inline-block;
	margin-left: 20px;
	top: 2px;
	/* Width is calculated in JavaScript */
}

#fl-angle .increase {
	display: inline-block;
	margin-left: 20px;
}



#status {
	margin-top: 20px;
}
